# Tools for Data Science: Peer Graded Assignment

## Introduction

Data Science Languages:
1. Python
2. R
3. Scala
4. SQL
5. Julia

Data Science Libraries:
1. Tensorflow
2. Panda
3. NumPy
4. Scikit Learn
5. PyTorch

| S.No | Tool        |
| -----| ----------- |
| 1    | Jupyter Notebook |
| 2    | Github      |
| 3   | Apache Spark |
| 4    | Amazon Web Services    |
| 5    | SPSS |
| 6    | Watson Studio     |
| 7    | Oracle Database |
| 8| Apache Hadoop   |

### Basic Arithmetic Expressions

In [6]:
def multiply(a,b):
    print(a*b)
def add(a,b):
    print(a+b)
multiply(10,20)
add(10,20)

200
30

In [5]:
def mins_to_hours(mins):
    hours = mins/60
    print("{} hours".format(round(hours,2)))
mins_to_hours(460)

7.67 hours

These are the list of objectives
- Objective 1
- Objective 2
- Objective 3
- Objective 4

Name: Karthik Mohan